@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

$disabled-opacity: 0.3;
$shopping-cart-close-top: 26px;
$header-side-padding: 30px;
$narrow-cart-button-right: 5vw;
$narrow-cart-button-bottom: 35px;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

::selection {
  color: $white;
  background: $black;
}

.button-rect {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: $black;
  letter-spacing: 1px;
  background-color: $white;
  border: 1px solid $black;
  width: auto;
  height: auto;
  padding: 10px 30px;

  &.small {
    font-size: 18px;
    padding: 0 10px;
  }
  &:hover:not(:disabled) {
    filter: invert(1);
  }
  &:disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }
}

.button-icon {
  width: 60px;
  height: 60px;
  padding-bottom: 5px;
  border-radius: 30px;
  background-color: $black;
  border: 1px solid $transparent;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    filter: invert(1);
    border: 1px solid $white;
  }
}

.text-italic-thin {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 16px;
}

.zigzag-pattern {
  background: linear-gradient(-45deg, $white 25px, $transparent 0),
    linear-gradient(45deg, $white 25px, $transparent 0);
  background-repeat: repeat-x;
  background-size: 50px 50px;
  height: 50px;
  width: 100%;
  content: " ";
}
