<template>
  <div class="products">
    <ProductItem
      class="product-item"
      v-for="product in products"
      :key="product.id"
      :id="product.id"
      :name="product.name"
      :description="product.description"
      :price="product.price"
    />
    <span class="no-products text-italic-thin" v-if="products.length < 1"
      >No shapes here yet...</span
    >
  </div>
</template>

<script>
import ProductItem from "../components/ProductItem";
export default {
  name: "ProductList",
  components: {
    ProductItem,
  },
  computed: {
    products() {
      return this.$store.getters.products;
    },
  },
  mounted() {
    this.$store.dispatch("setProducts");
  },
};
</script>

<style scoped lang="scss">
@import "../styles/colors";
.products {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;

  .no-products {
    text-align: center;
    color: $grey;
  }
}

@media only screen and (max-width: 800px) {
  .products {
    padding-top: 30px;
  }
  .product-item:not(:last-child) {
    border-bottom: 1px solid $grey;
  }
}
</style>
