<template>
  <div class="header-container">
    <div class="header-content">
      <div class="text">
        <span class="title">whee</span>
        <span class="subtitle text-italic-thin"
          >The most definitive shape store in the world</span
        >
      </div>

      <ShoppingCartButton />
    </div>

    <div class="zigzag-pattern"></div>
  </div>
</template>

<script>
import ShoppingCartButton from "./ShoppingCartButton";
export default {
  name: "Header",
  components: {
    ShoppingCartButton,
  },
};
</script>

<style scoped lang="scss">
@import "../styles/main";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header-container {
  background-color: $grey;

  .header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 $header-side-padding;

    .text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .title {
        font-family: "Pacifico", cursive;
        font-size: 64px;
        font-weight: 500;
      }
      .subtitle {
        margin-left: 30px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .header-container {
    .header-content {
      flex-direction: column;
      padding-bottom: 10px;
      .text {
        flex-direction: column;
        justify-content: center;
        .subtitle {
          margin-left: 0;
        }
      }
    }
  }
}
</style>
