<template>
  <div class="product">
    <div class="image-container">
      <img
        class="image"
        v-if="imgPath != null"
        :src="imgPath"
        :alt="imgAltText"
      />
      <div class="missing-image" v-else title="No product image">?</div>
    </div>

    <div class="info-container">
      <span class="name">{{ name }}</span>
      <span class="description">{{ description }}</span>
    </div>

    <div class="price-container" v-if="price">
      <span class="price">{{ price + " €" }}</span>
      <button class="button-rect" @click="addToCart">
        ADD TO CART
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductItem",
  props: {
    id: Number,
    name: String,
    description: String,
    price: Number,
  },
  methods: {
    addToCart() {
      this.$store.commit("addProductToShoppingCart", {
        id: this.id,
        name: this.name,
        description: this.description,
        price: this.price,
      });
    },
  },
  computed: {
    imgAltText() {
      return this.name + " product picture";
    },
    imgPath() {
      // Check if image exists
      try {
        const path = require("../assets/products/" + this.id + ".jpg");
        return path;
      } catch (error) {
        return null;
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../styles/main";

.product {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 40px;
  flex-wrap: wrap;

  .image-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .image {
      width: 100%;
      height: auto;
    }

    .missing-image {
      cursor: default;
      font-size: 72px;
      color: $grey;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    text-align: left;
    width: 50%;
    max-width: 700px;
    .name {
      font-style: italic;
      font-weight: 900;
    }
  }

  .name,
  .price {
    font-size: 38px;
    padding: 15px 0;
  }

  .price-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;

    .price {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 500px) {
  .product {
    flex-direction: column;
    div {
      margin: auto;
    }
    .info-container {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 820px) {
  .product {
    .price-container {
      .price {
        text-align: center;
      }
    }
  }
}
</style>
