<template>
  <div class="shopping-cart" :class="{ fadeIn: fadeInEffectTrigger }">
    <button
      class="close-icon button-icon"
      @click="closeShoppingCart"
      title="Close Shopping Cart"
    >
      <div>&#10006;</div>
    </button>
    <div class="top">
      <span class="title">Shopping Cart</span>
      <div class="zigzag-pattern"></div>
    </div>

    <div class="middle">
      <ShoppingCartItem
        class="cart-item"
        v-for="(product, index) in shoppingCart.products"
        :key="index"
        :id="product.id"
        :name="product.name"
        :description="product.description"
        :price="product.price"
        :amount="product.amount"
      />
      <span
        class="no-products text-italic-thin"
        v-if="shoppingCart.products.length < 1"
        >Nothing here yet...</span
      >
    </div>

    <div class="bottom">
      <div class="zigzag-pattern"></div>
      <span class="total" :class="{ empty: products.length < 1 }">{{
        totalText
      }}</span>
      <button class="checkout button-rect" :disabled="products.length < 1">
        CHECKOUT
      </button>
    </div>
  </div>
</template>

<script>
import ShoppingCartItem from "./ShoppingCartItem";
export default {
  name: "ShoppingCart",
  components: {
    ShoppingCartItem,
  },
  data() {
    return {
      fadeInEffectTrigger: false,
    };
  },
  methods: {
    closeShoppingCart() {
      this.fadeInEffectTrigger = false;
      setTimeout(() => {
        this.$store.commit("setShoppingCartOpen", false);
      }, 200);
    },
  },
  computed: {
    shoppingCart() {
      return this.$store.getters.shoppingCart;
    },
    products() {
      return this.shoppingCart.products;
    },
    totalText() {
      let plularity = " shapes for ";
      if (this.shoppingCart.productCount == 1) plularity = " shape for ";
      return (
        this.shoppingCart.productCount +
        plularity +
        this.shoppingCart.totalPrice +
        " €"
      );
    },
  },
  mounted() {
    // Timing fix for fade in effect
    setTimeout(() => {
      this.fadeInEffectTrigger = true;
    }, 1);
  },
};
</script>

<style scoped lang="scss">
@import "../styles/main";

.shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: $transparent;
  border: 1px solid $white;
  box-shadow: -10px 0px 10px 1px $grey;
  opacity: 0;
  transition: opacity 0.2s;

  &.fadeIn {
    opacity: 1;
  }

  .top,
  .middle,
  .bottom {
    width: 100%;
  }
  .top {
    background-color: $grey;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 7px;

    .title {
      font-size: 38px;
      font-style: italic;
      padding: $shopping-cart-close-top 30px;
      width: 70%;
    }
  }

  .middle {
    flex-grow: 3;
    background-color: $white;
    overflow-y: auto;

    .cart-item:not(:last-child) {
      border-bottom: 1px solid $grey;
    }

    .no-products {
      width: 100%;
      padding-top: 40%;
      display: inline-block;
      text-align: center;
      color: $grey;
    }
  }

  .bottom {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    text-align: center;

    .zigzag-pattern {
      transform: rotate(180deg);
    }
    .total {
      font-size: 24px;

      &.empty {
        opacity: $disabled-opacity;
      }
    }
    .checkout {
      margin: 20px 30px;
      margin-bottom: 50px;
      background-color: $grey;
    }
  }

  .close-icon {
    position: fixed;
    top: $shopping-cart-close-top;
    right: $header-side-padding;

    div {
      color: $white;
      font-size: 36px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .shopping-cart {
    width: 100%;

    .top {
      .title {
        text-align: center;
        width: 100%;
        padding: 5px 0;
      }
    }
    .bottom {
      .total {
        font-size: 20px;
      }
      .checkout {
        width: unset;
        margin: 25px auto;
        margin-bottom: 40px;
      }
    }
    .close-icon {
      top: unset;
      right: $narrow-cart-button-right;
      bottom: $narrow-cart-button-bottom;
    }
  }
}
</style>

