<template>
  <div class="product" :title="description">
    <div class="row">
      <div class="image-container">
        <img
          class="image"
          v-if="imgPath != null"
          :src="imgPath"
          :alt="imgAltText"
        />
        <div class="missing-image" v-else title="No product image">?</div>
      </div>

      <span class="name">{{ name }}</span>

      <div class="amount-container">
        <div>
          <span>&#10006;</span>
          <span class="amount-num">{{ amount }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="price">{{ priceText }}</div>
      <button class="button-rect small" @click="removeFromCart">
        - 1
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShoppingCartItem",
  props: {
    id: Number,
    name: String,
    description: String,
    price: Number,
    amount: Number,
  },
  methods: {
    removeFromCart() {
      this.$store.commit("removeProductFromShoppingCart", this.id);
    },
  },
  computed: {
    priceText() {
      return (
        this.price +
        " € x " +
        this.amount +
        " = " +
        this.price * this.amount +
        " €"
      );
    },
    imgAltText() {
      return this.name + " product picture";
    },
    imgPath() {
      // Check if image exists
      try {
        const path = require("../assets/products/" + this.id + ".jpg");
        return path;
      } catch (error) {
        return null;
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../styles/main";

.product {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;

  .row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;

    .image-container {
      margin: 0 15px;
      width: 50px;
      height: 50px;
      display: block;
      overflow: hidden;

      .image {
        width: 100%;
        height: auto;
      }

      .missing-image {
        cursor: default;
        font-size: 72px;
        color: $grey;
      }
    }

    .name {
      font-style: italic;
      font-weight: 900;
      font-size: 38px;
      padding: 0 15px;
      text-align: left;
    }

    .amount-container,
    .button-rect {
      justify-self: flex-end;
      margin-left: auto;
      text-align: center;
      .amount-num {
        font-size: 32px;
      }
    }

    .price {
      justify-self: center;
      margin-left: auto;
      font-size: 18px;
    }
  }
}
</style>
