<template>
  <div class="shopping-cart-button">
    <span class="cart-text-full text-italic-thin" v-if="productCount < 1"
      >No items in cart</span
    >
    <span class="cart-text-full text-italic-thin" v-else>{{ fullText }}</span>

    <span class="cart-text-short text-italic-thin">{{ productCount }}</span>
    <button
      class="cart-icon button-icon"
      @click="openShoppingCart"
      title="Open Shopping Cart"
    >
      <img src="../assets/shopping-cart.svg" alt="Shopping cart icon" />
    </button>
  </div>
</template>

<script>
export default {
  name: "ShoppingCartButton",
  computed: {
    productCount() {
      return this.$store.getters.shoppingCart.productCount;
    },
    totalPrice() {
      return this.$store.getters.shoppingCart.totalPrice;
    },
    fullText() {
      return this.productCount + " items in cart - " + this.totalPrice + " €";
    },
  },
  methods: {
    openShoppingCart() {
      this.$store.commit("setShoppingCartOpen", true);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../styles/main";

.shopping-cart-button {
  display: flex;
  align-items: center;

  .cart-text-full {
    margin-right: 20px;
  }
  .cart-text-short {
    display: none;
  }

  .cart-icon {
    padding: 5px;

    img {
      margin: 7px;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
}

@media only screen and (max-width: 800px) {
  .shopping-cart-button {
    position: fixed;
    right: $narrow-cart-button-right;
    bottom: $narrow-cart-button-bottom;
    flex-direction: column;
    text-align: center;
    .cart-text-full {
      display: none;
    }
    .cart-text-short {
      display: unset;
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
    .cart-icon {
      justify-content: center;
      .text {
        .subtitle {
          margin-left: 0;
        }
      }
    }
  }
}
</style>
