<template>
  <div id="app">
    <div :class="{ 'no-scroll-when-narrow': shoppingCartOpen }">
      <Header />
      <ProductList />
    </div>
    <ShoppingCart v-if="shoppingCartOpen" />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import ShoppingCart from "./components/ShoppingCart.vue";
import ProductList from "./views/ProductList.vue";

export default {
  name: "App",
  components: {
    Header,
    ProductList,
    ShoppingCart,
  },
  computed: {
    shoppingCartOpen() {
      return this.$store.getters.shoppingCartOpen;
    },
  },
};
</script>

<style lang="scss">
@import "./styles/main";

// Prevents scrolling when shopping cart is full screen, bit crappy
@media only screen and (max-width: 800px) {
  .no-scroll-when-narrow {
    // height: 100vh;
    // overflow: hidden;
    display: none;
  }
}
</style>
